@using Headlight.Models.Components;
@model SearchableTableData;

@{
    string tableClassString = Model.HtmlAttributes ?? "";
    string htmlId = SearchableTableData.HtmlId;
    string htmlClass = SearchableTableData.HtmlClass;
    int dataRowCount = Model.Rows.Count;
}

<link rel="stylesheet" href="~/css/Components/searchable-table.css">
<table id="@htmlId" class="@htmlClass" data-rowcount="@dataRowCount">
    @if (Model.Rows.Count > 0)
    {
        
    <thead>
        <tr>
            @foreach((SearchableTableColumn column, int index) in Model.Columns.OrderBy(c => c.Index).Select((c, i) => (c, i)))
            {
                string columnHtmlAttrs = column.HtmlAttributes ?? "";
                <th @Html.Raw(columnHtmlAttrs) colspan="@(index == Model.Columns.Count - 1? "2" : false)">
                    @column.Key
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_SearchableTableRowsPartial", Model)
    </tbody>
    }
    else
    {
        <tbody>
            <tr><td>No rows to show.</td></tr>
        </tbody>
    }
</table>

@if (Model.Paginate)
{
    <div id="sentinel" class="loading-sentinel">...</div>
}

<script src="~/js/libs/fdb-all.min.js" type="text/javascript"></script>
<script src="~/js/libs/typeahead.js"></script>
<script src="~/js/Components/searchable-table.js"></script>
