@using Headlight.Models.Components;
@using Headlight.AppCode;

@model SearchableTableData;

@{
    string tableClassString = Model.HtmlAttributes ?? "";
    string htmlId = SearchableTableData.HtmlId;
    string htmlClass = SearchableTableData.HtmlClass;
    int dataRowCount = Model.Rows.Count;
}

@for(int x = 0; x < Model.Rows.Count; x++)
{
    SearchableTableRow row = Model.Rows[x];
    string rowHtmlAttrs = row.HtmlAttributes ?? "";
    <tr @Html.Raw(rowHtmlAttrs)>
        @if (Model.CheckableRows != null)
        {
            <td>
                <input type="checkbox" name="MultiSelect" value="@row.CheckableValue" />
            </td>
        }
        @foreach (SearchableTableRowCell cell in row.Cells)
        {
            string cellHtmlAttrs = cell.HtmlAttributes ?? "";
            <td @Html.Raw(cellHtmlAttrs)>
                @if (cell.ShouldRender)
                {
                    @if (cell.Clickable)
                    {
                        string clickableHtmlAttributes = string.Format("style=\"cursor: pointer;\" {0}", cell.ClickableHtmlAttributes ?? "");
                        <div @Html.Raw(clickableHtmlAttributes)>
                            @if (cell.Icon != null)
                            {
                                string partialName = Utils.GetIconPartial(cell.Icon.Value);
                                string partialClass = Utils.GetIconCssClass(cell.Icon.Value);
                                <div class="@partialClass">
                                    @await Html.PartialAsync(partialName)
                                </div>
                            }
                            else
                            {
                                @cell.Value
                            }
                        </div>
                    }
                    else
                    {
                        @cell.Value
                    }
                }
            </td>
        }
    </tr>
}